apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  app.kubernetes.io/name: cert-manager
  app.kubernetes.io/component: cainjector
resources:
  - deployment.yaml
  - rbac.yaml
  - serviceaccount.yaml
images:
  - name: quay.io/jetstack/cert-manager-cainjector
    newTag: v1.19.4@sha256:5d810724b177746a8aeafd5db111b55b72389861bcec03a6d50f9c6d56ec37c0
