apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  app.kubernetes.io/name: cert-manager
  app.kubernetes.io/component: csi-driver
resources:
  - clusterrole.yaml
  - clusterrolebinding.yaml
  - csidriver.yaml
  - daemonset.yaml
  - serviceaccount.yaml
images:
  - name: registry.k8s.io/sig-storage/csi-node-driver-registrar
    newTag: v2.15.0@sha256:11f199f6bec47403b03cb49c79a41f445884b213b382582a60710b8c6fdc316a
  - name: registry.k8s.io/sig-storage/livenessprobe
    newTag: v2.18.0@sha256:c4cc074199c045dd73ab85f28897e2a32f4d6f38ffdba4f3b13b8007ccbd3570
  - name: quay.io/jetstack/cert-manager-csi-driver
    newTag: v0.12.0@sha256:df7dcb0350ffd4f505762093e56586dec7dad453791f9425c0221b6ac5d859fc
