apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  app.kubernetes.io/name: cert-manager
  app.kubernetes.io/component: webhook
resources:
  - deployment.yaml
  - mutating-webhook.yaml
  - rbac.yaml
  - service.yaml
  - serviceaccount.yaml
  - validating-webhook.yaml
configMapGenerator:
  - name: cert-manager-webhook
images:
  - name: quay.io/jetstack/cert-manager-webhook
    newTag: v1.19.3@sha256:2625754083d5e2d682a4582fd3fab41a0aa79e7c732c90491373c4f3be5e65b7
