apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  app.kubernetes.io/name: cert-manager
  app.kubernetes.io/component: controller
resources:
  - deployment.yaml
  - rbac.yaml
  - service.yaml
  - serviceaccount.yaml
patches:
  - patch: |
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: cert-manager
      spec:
        template:
          spec:
            containers:
              - name: cert-manager-controller
                env:
                  - name: CERT_MANAGER_ACME_HTTP01_SOLVER_IMAGE
                    # renovate: datasource=docker
                    value: quay.io/jetstack/cert-manager-acmesolver:v1.19.3@sha256:1b98c49764718e09e54f3752daef616874c177445f0a2b5a07975883c47eda25
images:
  - name: quay.io/jetstack/cert-manager-controller
    newTag: v1.19.3@sha256:a07125af5e83ecaa3f48317e79c8fae08f0a36654cec45bf0a3404f651b00387
