apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  app.kubernetes.io/name: cert-manager
  app.kubernetes.io/component: controller
resources:
  - deployment.yaml
  - rbac.yaml
  - service.yaml
  - serviceaccount.yaml
patches:
  - patch: |
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: cert-manager
      spec:
        template:
          spec:
            containers:
              - name: cert-manager-controller
                env:
                  - name: CERT_MANAGER_ACME_HTTP01_SOLVER_IMAGE
                    # renovate: datasource=docker
                    value: quay.io/jetstack/cert-manager-acmesolver:v1.19.1@sha256:35ed1103cb49a3e1fc2438de84f304e3fbdeb53e0366f6b1bc2ec9b2e57462db
images:
  - name: quay.io/jetstack/cert-manager-controller
    newTag: v1.19.1@sha256:cd49e769e18ada1fd7b9a9bacc87c90db24c65cbfd4bf71694dda7ed40e91187
